<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">

<style>
    main{
        display: inline;
        align-items: right;
    }
    body{
        background-color:#96CEB4;
        padding: 0px 30px 0px 30px;
        text-align: left;
    }
    input{
        background-color: #FFAD60;
        border: none;
        border-radius: 6px;
        color: #FFF4C6;
        padding: 5px;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
    }
    clouds{
        display: inline-block;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/156085f76e.js" crossorigin="anonymous"></script>
</head>

<body>

<div id = "main">
<h2 style="color:#D9534F; text-shadow: 3px 3px 0px #FFF4C6; font-family: 'Karla', sans-serif; padding: 0px 0px 0px 0px; margin:10px;">BIG SOUND</h2>
</div>

<form method="get" action = "http://localhost:5000">
    <button name="action1" class="fa-solid fa-backward-fast" style="font-size:36px; color: #FFF4C6; padding: 5px; background-color:#96CEB4; border:none;"></button>
</form>

<div style="background-color:#FFF4C6; padding: 10px 30% 10px 30px; border: none; border-radius: 6px;">
<h1 style="color:#FFAD60; font-family: 'Karla', sans-serif;">Confirmation</h3>
<p style="color:#D9534F; font-family: 'Nunito', sans-serif;">Your token has been generated.</p>
</div>

<form method="get" action = "http://localhost:5000/about">
    <button name="action1" class="fas fa-cloud" style="font-size:36px; color: #FFF4C6; padding: 5px; background-color:#96CEB4; border:none;"></button>
</form>

</body>
</html>
